@import "../../styles.scss";

:host {
  height: 100%;
  width: 100%;
}
.home-toolbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;
}

.content-wrapper {
  padding: 8px;
}
.people-icon {
  color: #fff;
  font-size: 32px;
  height: 32px;
  width: 32px;
}

.office-card {
  display: flex;
  padding: 0;
  height: 80px;
  overflow: hidden;
}

.icon-col {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  justify-content: space-around;
  background-color: $primary;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.info-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 4px
}

.name-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.office-address {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 230px;
  font-size: 12px;
  color: gray
}

.office-name {
  font-weight: 500;
  font-size: 18px;
}

.occupants-text {
  color: #fff;
}

.footer-text {
  font-size: 12px;
  color: green;
}