<mat-toolbar color="primary" class="home-toolbar">
  <div>OfficeMan</div>
  <div>
    <button mat-flat-button>Add Office</button>
  </div>
</mat-toolbar>
<div class="content-wrapper">
  <div *ngFor="let office of offices | async">
    <mat-card class="office-card" [routerLink]="'../office/' + office.id">
      <div class="icon-col">
        <div class="icon-wrapper">
          <mat-icon class="people-icon">people</mat-icon>
        </div>
        <div class="occupants-text">04/20</div>
      </div>
      <div class="info-col">
        <div class="name-wrapper">
          <div class="office-name">{{office.name}}</div>
          <div class="office-menu">
            <mat-icon class="menu-icon">more_vert</mat-icon>
          </div>
        </div>
        <div class="office-address">{{office.location}}</div>
        <div class="footer-wrapper">
          <div class="footer-text">{{office.email}}</div>
          <div class="footer-text">{{office.tellNumber}}</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
